@charset "UTF-8";

/* Mobile Layout: 568px and below. */


a:link {
	color: #fff;
	text-decoration: none;
}
a:visited{
	color: #000;
	text-decoration: none;
}
a:hover{
	color: #000;
	text-decoration: none;
}

img {
	margin-bottom: 5.2631%; 
}
section {
    min-height: 568px;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#imgmain {
	top: 0px;
	background: #0CF;
	margin: 0;
    position:relative;
    top:0;left:0;	
}
#logo {
	background-image: url(../img/simply-airports-logo-s-p.png);		
	background-repeat:no-repeat;
	background-size:contain;
	margin-top: 15%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-s-p.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-s-p.png', sizingMethod='scale')";
}
#imgmain h1 {
	font-weight:normal;
	letter-spacing: -1pt;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	line-height: 30px;
	margin-top: 300px;
	margin-left: 5%;
	margin-right: 5%;
	position:relative;
}
#imgmain p {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 26px;
	margin-top: 15%;
	margin-left: 5%;
	margin-right: 5%;
	position:relative;
}
#imgmain amp {
	font-weight:normal;
	font-family: 'open sans', sans-serif;
	letter-spacing: -1pt;
}
#textbox1 {
	font-family: 'open Sans', sans-serif;
	color: #999;
	margin-top: 3%;
	margin-left: 6%;
	margin-right: 3%;
	font-size: 20px;
	line-height: 40px;
}
#textbox2 {
	margin-top: 7%;
	margin-left: 7%;
	font-family: 'open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #0CF;
	margin-top: 8%;
	margin-left: 10%;
	margin-right: 3%;
	font-size: 18px;
	line-height: 18px;
}
#textbox2 p1 {
	color: #999;
}
#textbox3 {
	font-family: 'open Sans', sans-serif;
	color: #999;
	margin-top: 7%;
	margin-left: 5%;
	font-size: 14px;
	line-height: 24px;
}
#textbox3 p1{
	color: #0CF;
}
#textbox4 {
	font-family: 'open Sans', sans-serif;
	color: #999;
	font-size: 14px;
	line-height: 20px;
	margin-top: 5%;
	margin-left: 5%;
}
#box1 {
	background-color: #0CF;
	color: #FFF;
	font-family: 'open Sans', sans-serif;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 5%;
	font-size: 18px;
	line-height: 16px;
	padding: 5%;
	margin-left: 5%
}

#box2 {
	background-color: #BFBFBF;
	color: #FFF;
	font-family: 'open Sans', sans-serif;
	padding: 5%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 5%;
	left:0;
	font-size: 18px;
	line-height: 20px;
	padding: 5%;
	margin-left: 5%;
}
#picturecontainer {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow: hidden;
	margin-top: 7%;
	margin-left: 5%;
	width: 90%	
}
#picturecontainer img{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow: hidden;
}
#imgmain2 {
	top: 0px;
	background: #FFF 50% 0 no-repeat fixed;
	margin: 0;
    height: 2100px;
    position:relative;
    width:100%;
    top:0;left:0;
}
#textbox1 h1{
	color: #0CF;
	margin-bottom: 15%
}
#textbox1 p{
	margin-top: -5%;
	line-height: 24px;
}
.h8 {
	font-size: 20px;
	font-weight: bold;
	line-height: 22px
}
#box1 h2 {
	font-size: 24px;
	margin-top: -10px
}
#box1 h3 {
	font-size: 14px;
	margin-top: -10px
}




/* Mobile Layout: (landscape). */
@media only screen 
and (orientation: landscape) {


section {
    position: relative;
    width: 100%;
	min-height: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#imgmain {
	top: 0px;
	background: #0CF;
	margin: 0;
    position:relative;
    top:0;left:0;

}
#logo {
	background-image: url(../img/simply-airports-logo-s.png);		
	background-repeat:no-repeat;
	background-size:contain;
	margin-top: 8%;
	position:absolute;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-s.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-s.png', sizingMethod='scale')";
}

#imgmain h1 {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 25px;
	margin-top: 40%;
	margin-left: 5%;
	margin-right: 5%;
	position:relative;
	z-index: 10

}
#imgmain p {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 25px;
	margin-top: 7%;
	margin-left: 5%;
	margin-right: 5%;
	position:relative;
	z-index: 10

}
#imgmain2 {
	top: 0px;
	background: #FFF 50% 0 no-repeat fixed;
	margin: 0;
    height: 2200px;
    position:relative;
    width:100%;
    top:0;left:0;
}
#textbox1 {
	margin-top: 3%;
	margin-left: 6%;
	margin-right: 3%;
	font-size: 20px;
	line-height: 20px;
}
#textbox1 h1{
	color: #0CF;
	margin-bottom: 10%
}
#textbox1 p{
	margin-top: -2%
}
#textbox2 {
	margin-top: 8%;
	margin-left: 10%;
	margin-right: 3%;
	font-size: 18px;
	line-height: 18px;
}
#textbox3 {
	margin-top: 7%;
	margin-left: 5%;
	font-size: 16px;
	line-height: 24px;
}
#textbox4 {
	font-size: 14px;
	line-height: 20px;
	margin-top: 5%;
	margin-left: 5%;
}
.h8 {
	font-size: 20px;
	font-weight: bold;
	line-height: 22px
}
#box1 {
	font-size: 18px;
	line-height: 16px;
	padding: 5%;
	margin-top: 5%;
	margin-left: 5%
}
#box1 h2 {
	font-size: 24px;
	margin-top: -10px
}
#box1 h3 {
	font-size: 24px;
	margin-top: -10px
}
#box2 {
	font-size: 18px;
	line-height: 20px;
	padding: 5%;
	margin-top: 5%;
	margin-left: 5%;
	left: 0;
}
#picturecontainer {
	margin-top: 7%;
	margin-left: 5%;	
}

}


/* large phone: (portrait). */
@media only screen 
and (orientation: portrait) and (min-width: 321px){
	#imgmain {
			
	}
	section {
    min-height: 800px;
	}
	#imgmain2 {
	height:2200px
	}
	#imgmain h1 {
	margin-top: 70%;
	margin-left: 5%;
	margin-right: 5%;
	position:relative
}
#imgmain p {
	margin-top: 15%;
	margin-left: 5%;
	margin-right: 5%;
	font-size:20px;
	position:relative

}
#box1 h3 {
	font-size: 20px;
	margin-top: -10px
}
#logo {
	background-image: url(../img/simply-airports-logo-s2-p.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-s2-p.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-s2-p.png', sizingMethod='scale')";
}
}




/* Tablet Layout: 569px to 1024px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 569px) {


}

/* Tablet Layout: (portrait). */
@media only screen 
and (orientation: portrait) and (min-width: 569px){

section {
    min-height: 1024px;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#imgmain {
	top: 0px;
	background: url(../img/simply-airports-1-m-p.jpg) 50% 0 no-repeat fixed;
	margin: 0;
    position:relative;
    top:0;left:0;

}
#logo {
	background-image: url(../img/simply-airports-logo-m-p.png);		
	background-repeat:no-repeat;
	background-size:contain;
	margin-top: 15%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-m-p.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-m-p.png', sizingMethod='scale')";
}

#imgmain h1 {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	line-height: 40px;
	margin-top: 60%;
	margin-left: 5%;
	margin-right: 5%;
	position:absolute;

}
#imgmain p {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 35px;
	margin-top: 75%;
	margin-left: 5%;
	margin-right: 5%;
	position:absolute;
}
#imgmain2 {
	top: 0px;
	background: #FFF 50% 0 no-repeat fixed;
	margin: 0;
    height: 2100px;
    position:relative;
    width:100%;
    top:0;left:0;
}
#textbox1 {
	margin-top: 3%;
	margin-left: 6%;
	margin-right: 3%;
	font-size: 30px;
	line-height: 50px;
}
#textbox1 h1{
	color: #0CF;
	margin-bottom: 10%
}
#textbox1 p{
	margin-top: -5%;
	line-height: 50px;
}
#textbox2 {
	margin-top: 8%;
	margin-left: 10%;
	margin-right: 3%;
	font-size: 25px;
	line-height: 30px;
}
#textbox3 {
	margin-top: 7%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 20px;
	line-height: 30px;
}
#textbox4 {
	font-size: 16px;
	line-height: 24px;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
.h8 {
	font-size: 30px;
	font-weight: bold;
	line-height: 40px
}
#box1 {
	font-size: 25px;
	line-height: 25px;
	padding: 5%;
	margin-top: 5%;
	margin-left: 5%
}
#box1 h2 {
	font-size: 40px;
	margin-top: -10px
}
#box1 h3 {
	font-size: 35px;
	margin-top: -15px
}
#box2 {
	font-size: 20px;
	line-height: 24px;
	padding: 5%;
	margin-top: 5%;
	margin-left: 5%;
	left: 0;
}
#picturecontainer {
	margin-top: 7%;
	margin-left: 2%;
	margin-right: 5%;
	width: 40%;
	clear:none	
}
}

/* Tablet Layout: (landscape). */
@media only screen and (min-width: 569px) and (orientation: landscape){

section {
    min-height: 768px;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#imgmain {
	top: 0px;
	background: url(../img/simply-airports-1-m.jpg) 50% 0 no-repeat fixed;
	margin: 0;
    position:relative;
    top:0;left:0;

}
#logo {
	background-image: url(../img/simply-airports-logo-m.png);		
	background-repeat:no-repeat;
	background-size:contain;
	margin-top: 15%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-m.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo-m.png', sizingMethod='scale')";
}

#imgmain h1 {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	line-height: 40px;
	margin-top: 60%;
	margin-left: 5%;
	margin-right: 5%;
	position:absolute;

}
#imgmain p {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 35px;
	margin-top: 72%;
	margin-left: 5%;
	margin-right: 5%;
	position:absolute;
}
#imgmain2 {
	top: 0px;
	background: #FFF 50% 0 no-repeat fixed;
	margin: 0;
    height: 2500px;
    position:relative;
    width:100%;
    top:0;left:0;
}
#textbox1 {
	margin-top: 3%;
	margin-left: 6%;
	margin-right: 3%;
	font-size: 30px;
	line-height: 50px;
}
#textbox1 h1{
	color: #0CF;
	margin-bottom: 10%
}
#textbox1 p{
	margin-top: -5%;
	line-height: 50px;
}
#textbox2 {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 3%;
	font-size: 25px;
	line-height: 30px;
}
#textbox3 {
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 3%;
	font-size: 20px;
	line-height: 30px;
}
#textbox4 {
	font-size: 20px;
	line-height: 28px;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
}
.h8 {
	font-size: 35px;
	font-weight: bold;
	line-height: 40px
}
#box1 {
	font-size: 25px;
	line-height: 25px;
	padding: 5%;
	margin-top: 5%;
	margin-left: 5%
}
#box1 h2 {
	font-size: 40px;
	margin-top: -10px
}
#box1 h3 {
	font-size: 27px;
	margin-top: -15px
}
#box2 {
	font-size: 25px;
	line-height: 30px;
	padding: 5%;
	margin-top: 10%;
	margin-left: 5%;
	left: 0;
}
#picturecontainer {
	margin-top: 0%;
	margin-left: 2%;
	margin-right: 5%;
	width: 33%;
}
}

/* Retina tablet Layout: */
@media only screen and (min-width: 569px) and (-webkit-min-device-pixel-ratio: 2) {


}

/* Retina Layout: (portrait). */
@media only screen and (min-width: 569px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	#imgmain {
	background: url(../img/simply-airports-1-x2-p.jpg) 50% 0 no-repeat fixed;
}
#logo {
	background-image: url(../img/simply-airports-logo-m-x2-p.png);
}
}

/* Retina Layout: (landscape). */
@media only screen and (min-width: 569px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

#imgmain {
	background: url(../img/simply-airports-1-x2.jpg) 50% 0 no-repeat fixed;
}
#logo {
	background-image: url(../img/simply-airports-logo-m-x2.png);
}
}


/* Desktop Layout: 1025px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1025px) {

img {
	margin-bottom: 5.2631%;
}
section {
    min-height: 800px;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#imgmain {
	top: 0px;
	background: url(../img/simply-airports-1.jpg) 50% 0 no-repeat fixed;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}
#logo {
	background-image: url(../img/simply-airports-logo.png);		
	background-repeat:no-repeat;
	background-size:contain;
	margin-top: 7%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/simply-airports-logo.png', sizingMethod='scale')";
}

#imgmain h1 {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	line-height: 50px;
	margin-top: 55%;
	margin-left: 9%;
	margin-right: 5%;
	position:absolute;

}
#imgmain p {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	line-height: 40px;
	margin-top: 62%;
	margin-left: 9%;
	margin-right: 5%;
	position:absolute;
}
#imgmain2 {
	top: 0px;
	background: #FFF 50% 0 no-repeat fixed;
	margin: 0;
    height: 2000px;
    position:relative;
    width:100%;
    top:0;left:0;
}
#textbox1 {
	margin-top: 3%;
	margin-left: 6%;
	margin-right: 3%;
	font-size: 30px;
	line-height: 50px;
}
#textbox1 h1{
	color: #0CF;
	margin-bottom: 10%
}
#textbox1 p{
	margin-top: -5%;
	line-height: 50px;
}
#textbox2 {
	margin-top: 8%;
	margin-left: 5%;
	margin-right: 3%;
	font-size: 20px;
	line-height: 30px;
}
#textbox3 {
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 3%;
	font-size: 20px;
	line-height: 30px;
}
#textbox4 {
	font-size: 20px;
	line-height: 28px;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 10%;
	color: #0CF;

}
.h8 {
	font-size: 30px;
	font-weight: bold;
	line-height: 40px
}
#box1 {
	font-size: 22px;
	line-height: 25px;
	padding: 5%;
	margin-top: 3%;
	margin-left: 1%
}
#box1 h2 {
	font-size: 35px;
	margin-top: -10px
}
#box1 h3 {
	font-size: 24px;
	margin-top: -15px
}
#box2 {
	font-size: 20px;
	line-height: 25px;
	padding: 5%;
	margin-top: -35%;
	margin-left: 1%;
	left: 0;
}
#picturecontainer {
	margin-top: 30%;
	margin-left: 5%;
	margin-right: 5%;
	width: 33%;

}
	

}

/* Retina Layout */
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {


}




